/* bg */
html { 
    background: url("assets/bg.png") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;

    --pinkish: #fdabab;
  }

/* layout */

body {
    height: 100%;
    width: auto;
    margin: auto;
}

.main {
    background-color: white;
    border-radius: 25px;
    padding: 10px;
    width: 60%;
    max-width: 1200px;
    min-width: 370px;
    margin: auto;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    height:100vh; 
}

.flexBox {
    display: flex;
    flex-flow: row wrap;
    max-width: 800px;
    justify-content: center;
}

.flexChild {
    align-self: center;
    padding: 0px 10px 0px 10px;

    display:flex; 
    flex-direction: column;
}

.content {
    margin: auto;
    padding: 0px 10px 75px 10px;
    width: 80%;
    max-width: 600px;
    min-width: 250px;
}

footer {
    background: rgba(255, 255, 255, 0.5);
    text-align: center;
    margin: auto;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    padding: 10px;
    width: 60%;
    max-width: 1200px;
    min-width: 370px;
}

img {
    border-radius: 25px;
    width: 300px;
}

/* typography */

* {
    font-family: 'Montserrat', sans-serif;
}

h1, h2, span {
    font-family: 'Spectral', serif;
}

h3, h4, h5 {
    font-weight: 400;
}

p, ul {
    font-size: smaller;
}

li{
    margin: 10px 0;
  }

/* buttons */

button {
    border-radius: 25px;
    padding: 6px 18px;
    text-align: center;
    transition-duration: 0.4s;
    cursor: pointer;
}

.button1 {
    background-color: var(--pinkish); 
    color: white;
    border: 2px solid #fdabab;
    width: 300px;
}

.button1:hover {
    background-color: rgba(255, 255, 255, 0);
    color: black;
}

.button2 {
    background-color: rgba(255, 255, 255, 0);
    border: 2px solid #fdabab;
    color: black;
}

.button2:hover {
    background-color: #fdabab;
    color: white;
}

/* toggle */
.accordion {
    cursor: pointer;
  }
  
  .accordion:after {
    content: '\002B';
    color: black;
    margin-left: 5px;
  }
  
  .active:after {
    content: "\2212";
  }
  
.panel {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }

/* links */

a {
    color: black;
}

